<h1>{{ title }}</h1> 
<input type="text" #username placeholder="Enter Username"> 
<input type="text" #city placeholder="Enter City"> 
<input type="text" #phone placeholder="Enter Phone Number"> 
<input type="email" #email placeholder="Enter Email"> 
<button (click)="submit(username.value, city.value, phone.value, email.value)">Submit</button> 
<h2>Your Entered Details:</h2> 
<p>Username: {{ displayUsername }}</p> 
<p>City: {{ displayCity }}</p> 
<p>Phone: {{ displayPhone }}</p> 
<p>Email: {{ displayEmail }}</p> 